<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:25256/OutageManagementSystem"
                binding="netTcpBinding"
                contract="OutageManagementSystem.Common.IOutageManagementSystem"
                name="OutageManagementSystem" />
    </client>
  </system.serviceModel>
</configuration>