<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="OutageManagementSystemSQL"
         connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=oms; Integrated Security=True; MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
    <!--<add name="OutageManagementSystemSQL" 
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB; Initial Catalog=oms; Integrated Security=True; MultipleActiveResultSets=True;" 
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="OutageManagementSystem.Service.OMS">
        <endpoint address="net.tcp://localhost:25256/OutageManagementSystem"
                  binding="netTcpBinding"
                  contract="OutageManagementSystem.Common.IOutageManagementSystem" />
      </service>
    </services>
  </system.serviceModel>

  <!-- repositoryType: Live, TestValid, TestInvalid -->
  <!-- generatorType: Live, TestValid, TestInvalid -->
  <appSettings>
    <add key="repositoryType" value="TestValid" />
    <add key="generatorType" value="Live" />
  </appSettings>
</configuration>